/* skeleton */
body {
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.canvas {
    min-height: 100vh;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.header {
    position: relative;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}

.main {
    display: block;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
}

.footer {
    position: relative;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}

/* styles */
body {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Nue, sans-serif;
}
h1 {
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 40px
}
.main-title {
    margin-bottom: 10px;
    margin-top: 20px;
}
.footer {
    text-align: center;
    background-color: #f0f0f0;
    padding: 20px;
}
.author {
    font-size: 12px;
    margin-top: 5px;
}
.contacts-item {
    display: inline-block;
    vertical-align: middle;
}
.contacts-item__icon {
    width: 24px;
    height: 24px;
}
.contacts-item path {
    fill: #c3c4c5;
}
.contacts-item:hover path {
    fill: #f00;
}
.text-center {
    text-align: center;
}